<div class="container">
    <br/>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <br/>
            <div class="list-group">
                        <a href="#/i-have-a-spot/register" class="list-group-item"><h3>Register my spot</h3></a>
                        <a href="#/i-have-a-spot/schedule" class="list-group-item" style="background-color:#D5DED9;"><h3>Schedule my spot</h3></a>
            </div>
        </div>


        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="tab-content">
                    <br/>
                        <p>Check schedulue for your spots</p>
                        <label for="SelectSpot" id="selectSpot">Select your spot</label>
                        <select class="form-control" id="select_spot_field" name="SelectSpot">
                            <option value="AB" class="active">Spot 1</option>
                            <option value="BC">Spot 2</option>
                            <option value="MB">Spot 3</option>
                        </select>
                        <br/>

                        <table class="table table-hover"  style="width:100%">
                            <caption>Schedelue of my spots</caption>
                            <thead>
                                <tr>
                                    <th>Day of week</th>
                                    <th>Start time</th>
                                    <th>Finish time</th>
                                    <th>Settings</th>
                                </tr>
                                <thead>
                                    <tbody>
                                        <tr>
                                            <td>Monday</td>
                                            <td>14pm</td>
                                            <td>15pm</td>
                                            <td>
                                                <button type="button" class="btn btn-default btn-edit"><i class="fa fa-fw fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-edit"><i class="fa fa-fw fa-remove"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Monday</td>
                                            <td>14pm</td>
                                            <td>15pm</td>
                                            <td>
                                                <button type="button" class="btn btn-default btn-edit"><i class="fa fa-fw fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-edit"><i class="fa fa-fw fa-remove"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tbody>
                        </table>
                        </br>
                        <button type="button" class="btn btn-default btn-submit" style="float: right">Add more schedelue</button>

            </div>
        </div>
        <!--tab-content-->
    </div>
    <!--column-->

    <br/>
    <br/>

</div>